<h1>Admin::Transactions#index</h1>
<p>Find me in app/views/admin/transactions/index.html.erb</p>
<%= link_to 'Back to Dashboard', admin_root_path %>

//display all transactions from all users (each one clickable to lead to show view)
//make into partial


<% if @transactions.any? %>
  <p>Add list here</p>
<% else %>
  <p>No transactions yet</p>
<% end %>