// lists all pending traders
<ul>
    <% @pending_traders.each do |trader| %>
        <li>
            <%= trader.email %> || <%= button_to "Approve", approve_admin_trader_path(trader), method: :patch %>
        </li>
    <% end %>
</ul>

<%= link_to "Back to All Traders", admin_traders_path, class: "btn btn-secondary" %>