<h1>Admin::Traders#show</h1>
<p>Find me in app/views/admin/traders/show.html.erb</p>

//trader details here  (name email isapproved)

<p>NAME: <%= @trader.name %></p>
<p>EMAIL: <%= @trader.email %></p>
<p>Is Approved?: Insert here </p>

<%= link_to "Edit", edit_admin_trader_path(@trader) %>


// insert transactions here/transaction partial?