<h1>Trader::Transactions#show</h1>
<p>Find me in app/views/trader/transactions/show.html.erb</p>

<%= @user_transaction.stock_name %>
<%= @user_transaction.order_quantity %>
<%= @user_transaction.order_price %>